.page-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.scroll-box {
    max-height: 400px;        /* controls scroll height */
    overflow-y: auto;         /* vertical scroller */
    border: 1px solid #e5e983;
    border-radius: 6px;
    padding: 10px;
    background-color: #d6d16a;
}

.user-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 8px;
    margin-bottom: 6px;
    background: rgb(217, 233, 135);
    border-radius: 4px;
    font-size: 14px;
}

.user-row:nth-child(even) {
    background-color: #e9dc65;
}
