
{% extends "main.html" %}
{% block blockname %}


    <table>
        <thead>
            <tr>
                  <th>
                <!-- <th>User</th> -->
                <th>Address</th>
                <th>Shop Name</th>
                <th>Pincode</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>

{% for item in items %}
    <tr>
        i need user add who login <!-- <td>{{ item.user }}</td> -->
         <td>
  <a href="{% url 'profiless' item.user %}">
      {{ item.user }}
  </a>
</td>
        <td>{{ item.address }}</td>
        <td>{{ item.shop_name }}</td>
        <td>{{ item.pincode }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.state }}</td>
        <td>{{ item.country }}</td>
    </tr>
{% endfor %}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock blockname %}
