<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- add in tebles -->

    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Shop Name</th>
                <th>Pincode</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>

{% for item in items %}
    <tr>
        <td>{{ item.address }}</td>
        <td>{{ item.shop_name }}</td>
        <td>{{ item.pincode }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.state }}</td>
        <td>{{ item.country }}</td>
    </tr>
{% endfor %}

</body>
</html>