


{% extends "main.html" %}

{% block blockname %}

      <p>{% if user %}
  <li>Username: {{ user.username }}</li>
  <li>Email: {{ user.email }}</li>
{% else %}
  <li>Not logged in</li>
{% endif %}
</p>
    <li>Username: {{ user.username }}</li>
 


    <table>
        <thead>
            <tr>
                <!-- <th>User</th> -->
                <th>Address</th>
                <th>Shop Name</th>
                <th>Pincode</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>

{% for item in items %}
    <tr>
        i need user add who login <!-- <td>{{ item.user }}</td> -->

        <td>{{ item.address }}</td>
        <td>{{ item.shop_name }}</td>
        <td>{{ item.pincode }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.state }}</td>
        <td>{{ item.country }}</td>
    </tr>
{% endfor %}

{% endblock blockname %}
